<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--对象别名定义 -->
	<typeAliases>
		<typeAlias alias="User" type="com.sgm.bean.User" />
	</typeAliases>
   
   <!-- 添加Dao的映射路径 -->
	<mappers>
		<mapper resource="com/sgm/mybatis/user.xml" />
	</mappers>
</configuration>